@import url('https://mshaugh.github.io/nerdfont-webfonts/build/firamono.css');
@import 'tailwindcss';
@import 'tw-animate-css';

/* @custom-variant moon (&:is(.moon *)); */
@custom-variant dawn (&:is([data-theme=dawn] *));

@theme {
  --color-cbase: oklch(0.2174 0.0262 290.92);
  --color-surface: oklch(0.2436 0.033264 289.0242);
  --color-overlay: oklch(0.2685 0.0423 289.34);
  --color-muted: oklch(0.537 0.0448 291.69);
  --color-subtle: oklch(0.6559 0.0441 291.25);
  --color-text: oklch(0.9047 0.0312 289.59);
  --color-love: oklch(0.6989 0.1565 4.14);
  --color-gold: oklch(0.8456 0.109 74.73);
  --color-rose: oklch(0.8398 0.0532 20.58);
  --color-pine: oklch(0.5322 0.0798 227.26);
  --color-foam: oklch(0.8219 0.0537 209.55);
  --color-iris: oklch(0.7755 0.0944 304.85);
  --color-hlow: oklch(0.2483 0.0259 287.4);
  --color-hmed: oklch(0.371 0.0366 291.38);
  --color-high: oklch(0.4432 0.039 290.83);

  --color-dawn-cbase: oklch(0.9665 0.0126 71.33);
  --color-dawn-surface: oklch(0.989 0.0091 76.61);
  --color-dawn-overlay: oklch(0.9381 0.0174 73.07);
  --color-dawn-muted: oklch(0.6721 0.0267 298.62);
  --color-dawn-subtle: oklch(0.5796 0.0448 291.04);
  --color-dawn-text: oklch(0.462 0.0625 289.83);
  --color-dawn-love: oklch(0.6015 0.1061 2.62);
  --color-dawn-gold: oklch(0.7568 0.1457 70.49);
  --color-dawn-rose: oklch(0.6975 0.1054 23.36);
  --color-dawn-pine: oklch(0.4961 0.0775 227.7);
  --color-dawn-foam: oklch(0.629 0.0664 210.06);
  --color-dawn-iris: oklch(0.6173 0.0723 305.67);
  --color-dawn-hlow: oklch(0.9477 0.0105 58.21);
  --color-dawn-hmed: oklch(0.8897 0.0061 31.06);
  --color-dawn-high: oklch(0.843 0.0061 334);

  --font-fira: 'FiraCode Nerd Font', 'mono';
  --font-firapropo: 'FiraCode Nerd Font Propo', 'FiraCode Nerd Font', 'mono';
}

@layer components {
  .window-border {
    @apply border-2 p-3 m-2 mt-2.5 relative hover:border-(--accent) transition-colors sborder-hmed;
    --accent: var(--color-high);
    & > .window-title:first-child {
      @apply absolute -top-2.5 px-1 text-sm sbg-cbase stext-hmed transition-colors;
    }
    @variant focus-visible {
      & > .window-title:first-child {
        @apply text-(--accent);
      }
    }
    @variant hover {
      & > .window-title:first-child {
        @apply text-(--accent);
      }
    }
  }
}

@utility accent-* {
  --accent: --value(--color-*, [color]);
  --accent: color-mix(in oklab, --value(--color-*) calc(--modifier(integer) * 1%), transparent);
  @variant dawn {
    --accent: --value(--color-dawn- *);
    --accent: color-mix(in oklab, --value(--color-dawn- *) calc(--modifier(integer) * 1%), transparent);
    --accent: color-mix(in oklab, --value([color]) 90%, black);
  }
}

@utility sbg-* {
  background-color: --value(--color-*, [color]);
  background-color: color-mix(in oklab, --value(--color-*, [color]) calc(--modifier(integer) * 1%), transparent);
  @variant dawn {
    background-color: --value(--color-dawn- *);
    background-color: color-mix(in oklab, --value(--color-dawn- *) calc(--modifier(integer) * 1%), transparent);
    background-color: color-mix(in oklab, --value([color]) 90%, black);
  }
}

@utility stext-* {
  color: --value(--color-*);
  color: color-mix(in oklab, --value(--color-*) calc(--modifier(integer) * 1%), transparent);
  @variant dawn {
    color: --value(--color-dawn- *);
    color: color-mix(in oklab, --value(--color-dawn- *) calc(--modifier(integer) * 1%), transparent);
  }
}

@utility sborder-* {
  border-color: --value(--color-*);
  color: color-mix(in oklab, --value(--color-*) calc(--modifier(integer) * 1%), transparent);
  @variant dawn {
    border-color: --value(--color-dawn- *);
    color: color-mix(in oklab, --value(--color-dawn- *) calc(--modifier(integer) * 1%), transparent);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  /* --color-accent-foreground: var(--accent-foreground); */
  /* --color-accent: var(--accent); */
  /* --color-muted-foreground: var(--muted-foreground); */
  /* --color-muted: var(--muted); */
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  /* --muted: oklch(0.967 0.001 286.375); */
  /* --muted-foreground: oklch(0.552 0.016 285.938); */
  /* --accent: oklch(0.967 0.001 286.375); */
  /* --accent-foreground: oklch(0.21 0.006 285.885); */
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  /* --muted: oklch(0.274 0.006 286.033); */
  /* --muted-foreground: oklch(0.705 0.015 286.067); */
  /* --accent: oklch(0.274 0.006 286.033); */
  /* --accent-foreground: oklch(0.985 0 0); */
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-iris) transparent;
  }
  body {
    @apply sbg-cbase stext-text font-fira transition-colors;
  }
}
