@import 'https://www.nerdfonts.com/assets/css/webfont.css';
@import 'https://mshaugh.github.io/nerdfont-webfonts/build/firamono.css';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dawn (&:is([data-theme=dawn] *));

@theme {
  --color-plate: oklch(0.2174 0.0262 290.92);
  --color-surface: oklch(0.2436 0.033264 289.0242);
  --color-overlay: oklch(0.2685 0.0423 289.34);
  --color-muted: oklch(0.537 0.0448 291.69);
  --color-subtle: oklch(0.6559 0.0441 291.25);
  --color-text: oklch(0.9047 0.0312 289.59);
  --color-love: oklch(0.6989 0.1565 4.14);
  --color-gold: oklch(0.8456 0.109 74.73);
  --color-rose: oklch(0.8398 0.0532 20.58);
  --color-pine: oklch(0.5322 0.0798 227.26);
  --color-foam: oklch(0.8219 0.0537 209.55);
  --color-iris: oklch(0.7755 0.0944 304.85);
  --color-hlow: oklch(0.2483 0.0259 287.4);
  --color-hmed: oklch(0.371 0.0366 291.38);
  --color-high: oklch(0.4432 0.039 290.83);

  --color-dawn-plate: oklch(0.9665 0.0126 71.33);
  --color-dawn-surface: oklch(0.989 0.0091 76.61);
  --color-dawn-overlay: oklch(0.9381 0.0174 73.07);
  --color-dawn-muted: oklch(0.6721 0.0267 298.62);
  --color-dawn-subtle: oklch(0.5796 0.0448 291.04);
  --color-dawn-text: oklch(0.462 0.0625 289.83);
  --color-dawn-love: oklch(0.6015 0.1061 2.62);
  --color-dawn-gold: oklch(0.7568 0.1457 70.49);
  --color-dawn-rose: oklch(0.6975 0.1054 23.36);
  --color-dawn-pine: oklch(0.4961 0.0775 227.7);
  --color-dawn-foam: oklch(0.629 0.0664 210.06);
  --color-dawn-iris: oklch(0.6173 0.0723 305.67);
  --color-dawn-hlow: oklch(0.9477 0.0105 58.21);
  --color-dawn-hmed: oklch(0.8897 0.0061 31.06);
  --color-dawn-high: oklch(0.843 0.0061 334);

  --font-fira-nf: 'FiraCode Nerd Font', 'sans';
  --font-fira-nfp: 'FiraCode Nerd Font Propo', 'FiraCode Nerd Font', 'sans';
  --font-fira-nfm: 'FiraCode Nerd Font Mono', 'FiraCode Nerd Font', 'mono';
}

@layer components {
  .window-border {
    @apply border-2 p-3 m-2 mt-2.5 relative hover:border-(--theme-color) transition-colors sborder-hmed;
    & > .window-title:first-child {
      @apply absolute -top-2.5 px-1 text-sm sbg-plate stext-hmed transition-colors;
    }
    @variant focus-visible {
      & > .window-title:first-child {
        @apply text-(--theme-color);
      }
    }
    @variant hover {
      & > .window-title:first-child {
        @apply text-(--theme-color);
      }
    }
  }

  .panel {
    @apply sbg-overlay flex flex-col gap-3 p-4 aspect-square max-w-60 max-h-60 size-60 items-center justify-start transition-colors;

    @variant hover {
      &.hoverable {
        @apply bg-(--theme-color) stext-overlay flex flex-col gap-3 p-4 aspect-square max-w-60 items-center justify-start;
      }
    }
  }
}

@utility theme-color-* {
  --theme-color: --value(--color-*, [color]);
  --theme-color: color-mix(in oklab, --value(--color-*) calc(--modifier(integer) * 1%), transparent);
  @variant dawn {
    --theme-color: --value(--color-dawn- *);
    --theme-color: color-mix(in oklab, --value(--color-dawn- *) calc(--modifier(integer) * 1%), transparent);
    --theme-color: color-mix(in oklab, --value([color]) 90%, black);
  }
}

@utility theme-data-color {
  @apply theme-color-iris;
  &:is([data-theme-color='love'] *) {
    @apply theme-color-love;
  }
  &:is([data-theme-color='gold'] *) {
    @apply theme-color-gold;
  }
  &:is([data-theme-color='rose'] *) {
    @apply theme-color-rose;
  }
  &:is([data-theme-color='pine'] *) {
    @apply theme-color-pine;
  }
  &:is([data-theme-color='foam'] *) {
    @apply theme-color-foam;
  }
  &:is([data-theme-color='iris'] *) {
    @apply theme-color-iris;
  }
}

@utility sbg-* {
  background-color: --value(--color-*, [color]);
  background-color: color-mix(in oklab, --value(--color-*, [color]) calc(--modifier(integer) * 1%), transparent);
  @variant dawn {
    background-color: --value(--color-dawn- *);
    background-color: color-mix(in oklab, --value(--color-dawn- *) calc(--modifier(integer) * 1%), transparent);
    background-color: color-mix(in oklab, --value([color]) 90%, black);
  }
}

@utility stext-* {
  color: --value(--color-*);
  color: color-mix(in oklab, --value(--color-*) calc(--modifier(integer) * 1%), transparent);
  @variant dawn {
    color: --value(--color-dawn- *);
    color: color-mix(in oklab, --value(--color-dawn- *) calc(--modifier(integer) * 1%), transparent);
  }
}

@utility sborder-* {
  border-color: --value(--color-*);
  color: color-mix(in oklab, --value(--color-*) calc(--modifier(integer) * 1%), transparent);
  @variant dawn {
    border-color: --value(--color-dawn- *);
    color: color-mix(in oklab, --value(--color-dawn- *) calc(--modifier(integer) * 1%), transparent);
  }
}

@property --theme-color {
  syntax: '<color>';
  inherits: true;
  initial-value: oklch(0.2685 0.0423 289.34);
}

@layer base {
  * {
    @apply scroll-smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--theme-color) transparent;
  }

  html {
    --theme-color: var(--color-text);
    &:is([data-theme='dawn'] *) {
      --theme-color: var(--color-dawn-text);
    }
  }

  html,
  body {
    @apply sbg-plate stext-text font-fira-nf transition-colors;
  }
}
